<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <app-separate-seccion-whith-title [title_section]="'Nosotros'"></app-separate-seccion-whith-title>
    </div>
    <div class="col-md-8 offset-md-2">
      <app-about-us></app-about-us>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <app-separate-seccion-whith-title [title_section]="'Misión'"></app-separate-seccion-whith-title>
    </div>
    <div class="col-md-8 offset-md-2">
      <app-mission></app-mission>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <app-separate-seccion-whith-title [title_section]="'Visión'"></app-separate-seccion-whith-title>
    </div>
    <div class="col-md-8 offset-md-2">
      <app-vision></app-vision>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <app-separate-seccion-whith-title [title_section]="'Creencias'"></app-separate-seccion-whith-title>
    </div>
    <div class="col-md-8 offset-md-2">
      <app-beliefs></app-beliefs>
    </div>

  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <app-separate-seccion-whith-title [title_section]="'Confesión de Fe'"></app-separate-seccion-whith-title>
    </div>
    <div class="col-md-8 offset-md-2">
      <app-confession-of-faith></app-confession-of-faith>
    </div>

  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <app-separate-seccion-whith-title [title_section]="'Horario de Servicios'"></app-separate-seccion-whith-title>
    </div>
    <div class="col-md-8 offset-md-2">
      <app-service-hours></app-service-hours>
    </div>
  </div>
</div>
