<div class="row my-2">
  <div class="col-md-12">
    <div class="card card-body">
      <div class="card-title">
        Confesión de fe
      </div>
      Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
      by default but revealed when the user activates the relevant trigger.1
      <div class="d-inline my-2">
        <a class="text-success mr-2">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2">
          <bi name="pen-fill"></bi>
        </a>

        <a class="text-success">
          <bi name="trash-fill"></bi>
        </a>
      </div>
    </div>
  </div>
</div>
