<div *ngIf="user; else noUser">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center my-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Admin - IBAJ</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
            <span class="navbar-text">
              <a href="" class="text-dark">Cerrar Sesión </a>
            </span>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 m-4 col-sm-6 text-center" id="cover-page">
        <span>
          Portada
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="about">
        <span>
          Nosotros
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="activities">
        <span>
          Actividades
        </span>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3 m-4 col-sm-6 text-center" id="counseling">
        <span>
          Consejeria
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="prayer">
        <span>
          Motivos de Oración
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="articles">
        <span>
          Articulos
        </span>
      </div>
    </div>

  </div>
</div>

<ng-template #noUser>
  <div class="container">

    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Lo siento!</h4>
      <p>
        No puede ver esta pagina, debe de iniciar sesión para poder visualizar el contenido de esta página.
        En el caso de que no haya podido iniciar sesion, favor contactar con el administrador
      </p>
      <hr>
      <p class="mb-0">
        <a href="" class="text-danger">Volver al inicio</a>
      </p>
    </div>
  </div>
</ng-template>
