<div *ngIf="userExist; else noUser">

  <app-menu></app-menu>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 m-4 col-sm-6 text-center" id="cover-page">
        <span>
          Portada
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="about">
        <span>
          Nosotros
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="activities">
        <span>
          Actividades
        </span>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3 m-4 col-sm-6 text-center" id="counseling">
        <span>
          Consejeria
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="prayer">
        <span>
          Motivos de Oración
        </span>
      </div>
      <div class="col-md-3 m-4 col-sm-6 text-center" id="articles">
        <span>
          Articulos
        </span>
      </div>
    </div>

  </div>
</div>

<ng-template #noUser>
  <div class="container">

    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Lo siento!</h4>
      <p>
        No puede ver esta pagina, debe de iniciar sesión para poder visualizar el contenido de esta página.
        En el caso de que no haya podido iniciar sesion, favor contactar con el administrador
      </p>
      <hr>
      <p class="mb-0">
        <a href="" class="text-danger">Volver al inicio</a>
      </p>
    </div>
  </div>
</ng-template>
