<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center my-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin - IBAJ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cover-page">Portadas <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">Nosotros <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/activities">Actividades <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/counseling">Consejería <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/prayer">Motivos de Oración <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/articles">Articulos <span class="sr-only"></span></a>
            </li>
          </ul>
          <span class="navbar-text">
            <a href="" class="text-dark" (click)="logout()">Cerrar Sesión </a>
          </span>
        </div>
      </nav>
    </div>
  </div>
</div>
