<div >
  <app-menu></app-menu>
</div>


<ng-template #noUser>
  <div class="container">

    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Lo siento!</h4>
      <p>
        No puede ver esta pagina, debe de iniciar sesión para poder visualizar el contenido de esta página.
        En el caso de que no haya podido iniciar sesion, favor contactar con el administrador
      </p>
      <hr>
      <p class="mb-0">
        <a href="" class="text-danger">Volver al inicio</a>
      </p>
    </div>
  </div>
</ng-template>
