<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 text-center my-2">
      <!-- As a heading -->
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Bienvenido a la Administracion de la Pagina Amigos de Jesús</span>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3 m-4 col-sm-6 text-center">
      Portada
    </div>
    <div class="col-md-3 m-4 col-sm-6 text-center">
      Nosotros
    </div>
    <div class="col-md-3 m-4 col-sm-6 text-center">
      Actividades
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 m-4 col-sm-6 text-center">
      Consejería
    </div>
    <div class="col-md-3 m-4 col-sm-6 text-center">
      Motivos de Oración
    </div>
    <div class="col-md-3 m-4 col-sm-6 text-center">
      Blog
    </div>
  </div>

</div>
