<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Imagen de Portada</h2>
    </div>
    <div class="col-md-10 offset-md-1">
      <app-cover-image></app-cover-image>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Versiculo Principal</h3>
    </div>
    <div class="col-md-10 offset-md-1">
      <app-principal-verse></app-principal-verse>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <h2>Consejos</h2>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/editoriales-ibpr.appspot.com/o/consejos%2F1.jpg?alt=media&token=22a2efa3-76f1-489e-a866-1fc82b05b72c"
          class="card-img-top" alt="Imagen">
          <app-image></app-image>
        <div class="card-body">
          <h5 class="card-title d-inline mr-2">Titulo Consejo</h5>
          <app-title class="d-block"></app-title>
        </div>

        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#description" aria-expanded="true" aria-controls="description">
                    Consejo
                  </button>
                </h2>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis tempore, rerum voluptatum unde, nihil at aliquam itaque omnis vel consequuntur libero? Eveniet facere accusamus laborum voluptatum ipsa repellendus officiis molestiae?
                  <app-text class="d-block"></app-text>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#author" aria-expanded="true" aria-controls="author">
                    Autor
                  </button>
                </h2>
              </div>
              <div id="author" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Sixto Porras
                  <app-author class="d-block"></app-author>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/editoriales-ibpr.appspot.com/o/consejos%2F1.jpg?alt=media&token=22a2efa3-76f1-489e-a866-1fc82b05b72c"
          class="card-img-top" alt="Imagen">
          <app-image></app-image>
        <div class="card-body">
          <h5 class="card-title d-inline mr-2">Titulo Consejo</h5>
          <app-title class="d-block"></app-title>
        </div>

        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#description" aria-expanded="true" aria-controls="description">
                    Consejo
                  </button>
                </h2>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis tempore, rerum voluptatum unde, nihil at aliquam itaque omnis vel consequuntur libero? Eveniet facere accusamus laborum voluptatum ipsa repellendus officiis molestiae?
                  <app-text class="d-block"></app-text>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#author" aria-expanded="true" aria-controls="author">
                    Autor
                  </button>
                </h2>
              </div>
              <div id="author" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Sixto Porras
                  <app-author class="d-block"></app-author>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/editoriales-ibpr.appspot.com/o/consejos%2F1.jpg?alt=media&token=22a2efa3-76f1-489e-a866-1fc82b05b72c"
          class="card-img-top" alt="Imagen">
          <app-image></app-image>
        <div class="card-body">
          <h5 class="card-title d-inline mr-2">Titulo Consejo</h5>
          <app-title class="d-block"></app-title>
        </div>

        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#description" aria-expanded="true" aria-controls="description">
                    Consejo
                  </button>
                </h2>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis tempore, rerum voluptatum unde, nihil at aliquam itaque omnis vel consequuntur libero? Eveniet facere accusamus laborum voluptatum ipsa repellendus officiis molestiae?
                  <app-text class="d-block"></app-text>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#author" aria-expanded="true" aria-controls="author">
                    Autor
                  </button>
                </h2>
              </div>
              <div id="author" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Sixto Porras
                  <app-author class="d-block"></app-author>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/editoriales-ibpr.appspot.com/o/consejos%2F1.jpg?alt=media&token=22a2efa3-76f1-489e-a866-1fc82b05b72c"
          class="card-img-top" alt="Imagen">
          <app-image></app-image>
        <div class="card-body">
          <h5 class="card-title d-inline mr-2">Titulo Consejo</h5>
          <app-title class="d-block"></app-title>
        </div>

        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#description" aria-expanded="true" aria-controls="description">
                    Consejo
                  </button>
                </h2>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis tempore, rerum voluptatum unde, nihil at aliquam itaque omnis vel consequuntur libero? Eveniet facere accusamus laborum voluptatum ipsa repellendus officiis molestiae?
                  <app-text class="d-block"></app-text>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#author" aria-expanded="true" aria-controls="author">
                    Autor
                  </button>
                </h2>
              </div>
              <div id="author" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Sixto Porras
                  <app-author class="d-block"></app-author>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/editoriales-ibpr.appspot.com/o/consejos%2F1.jpg?alt=media&token=22a2efa3-76f1-489e-a866-1fc82b05b72c"
          class="card-img-top" alt="Imagen">
          <app-image></app-image>
        <div class="card-body">
          <h5 class="card-title d-inline mr-2">Titulo Consejo</h5>
          <app-title class="d-block"></app-title>
        </div>

        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#description" aria-expanded="true" aria-controls="description">
                    Consejo
                  </button>
                </h2>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis tempore, rerum voluptatum unde, nihil at aliquam itaque omnis vel consequuntur libero? Eveniet facere accusamus laborum voluptatum ipsa repellendus officiis molestiae?
                  <app-text class="d-block"></app-text>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#author" aria-expanded="true" aria-controls="author">
                    Autor
                  </button>
                </h2>
              </div>
              <div id="author" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Sixto Porras
                  <app-author class="d-block"></app-author>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/editoriales-ibpr.appspot.com/o/consejos%2F1.jpg?alt=media&token=22a2efa3-76f1-489e-a866-1fc82b05b72c"
          class="card-img-top" alt="Imagen">
          <app-image></app-image>
        <div class="card-body">
          <h5 class="card-title d-inline mr-2">Titulo Consejo</h5>
          <app-title class="d-block"></app-title>
        </div>

        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#description" aria-expanded="true" aria-controls="description">
                    Consejo
                  </button>
                </h2>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis tempore, rerum voluptatum unde, nihil at aliquam itaque omnis vel consequuntur libero? Eveniet facere accusamus laborum voluptatum ipsa repellendus officiis molestiae?
                  <app-text class="d-block"></app-text>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#author" aria-expanded="true" aria-controls="author">
                    Autor
                  </button>
                </h2>
              </div>
              <div id="author" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Sixto Porras
                  <app-author class="d-block"></app-author>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <h2>Versiculos de Oracion</h2>
    </div>
    <div class="col-md-6">
      <app-verses></app-verses>
    </div>
    <div class="col-md-6">
      <app-verses></app-verses>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <h2>Comentarios</h2>
    </div>
    <div class="col-md-6">
      <app-comments></app-comments>
    </div>

    <div class="col-md-6">
      <app-comments></app-comments>
    </div>
  </div>
</div>
