<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5 pt-5">
      <div>
        <h3>
          Bienvenido
        </h3>
      </div>
      <form #userForm="ngForm" (ngSubmit)="loginEmail()">
        <div class="form-group">
          <label for="email">Nombre de usuario o correo</label>
          <input type="email" class="form-control" id="email" name="emailUser" #emailUser="ngModel"
            [(ngModel)]="login.email" required autocomplete="off">
          <small *ngIf="!emailUser.valid && emailUser.touched" id="emailHelp" class="form-text text-danger">
            Este campo deber ser rellenado
          </small>
        </div>
        <div class="form-group">
          <label for="pass">Contraseña</label>
          <input type="password" class="form-control" id="pass" name="passUser" #passUser="ngModel"
            [(ngModel)]="login.pass">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="remember" >
          <label class="form-check-label" for="remember" >Recuerdame</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
        <!-- <button type="button" class="btn btn-dark btn-lg btn-block" (click)="ingresar('google')">Iniciar con Google</button> -->
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
