<div class="container">
  <div class="row my-5">

    <div class="col-md-10 offset-md-2">
      <h3>Imagenes de Fondo</h3>
      <app-cover-images></app-cover-images>
    </div>
  </div>

  <div class="row my-5">

    <div class="col-md-10 offset-md-2">
      <h3>Versiculo Principal</h3>
      <app-principal-verse></app-principal-verse>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-10 offset-md-2">
      <h3>Texto Principal</h3>
      <app-principal-text></app-principal-text>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-10 offset-md-2">
      <h3>Versiculos</h3>
      <app-verses></app-verses>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-10 offset-md-2">
      <h3>Peticiones de Oracion</h3>
      <app-prayer-motives></app-prayer-motives>
    </div>
  </div>

</div>
