<div class="row my-5">
  <div class="col-md-4">
    <div class="card card-body">
      <div class="card-title">
        Nombre
      </div>
      <p>
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
        by default but revealed when the user activates the relevant trigger.1
      </p>

      <div class="d-inline my-2">
        <a class="text-success mr-2"  data-toggle="modal" data-target="#modalViewVerse">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2" data-toggle="modal" data-target="#modalModifyVerse">
          <bi name="pen-fill"></bi>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-body">
      <div class="card-title">
        Nombre
      </div>
      <p>
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
        by default but revealed when the user activates the relevant trigger.1
      </p>

      <div class="d-inline my-2">
        <a class="text-success mr-2"  data-toggle="modal" data-target="#modalViewVerse">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2" data-toggle="modal" data-target="#modalModifyVerse">
          <bi name="pen-fill"></bi>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-body">
      <div class="card-title">
        Nombre
      </div>
      <p>
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
        by default but revealed when the user activates the relevant trigger.1
      </p>

      <div class="d-inline my-2">
        <a class="text-success mr-2"  data-toggle="modal" data-target="#modalViewVerse">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2" data-toggle="modal" data-target="#modalModifyVerse">
          <bi name="pen-fill"></bi>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-4">
    <div class="card card-body">
      <div class="card-title">
        Nombre
      </div>
      <p>
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
        by default but revealed when the user activates the relevant trigger.1
      </p>

      <div class="d-inline my-2">
        <a class="text-success mr-2"  data-toggle="modal" data-target="#modalViewVerse">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2" data-toggle="modal" data-target="#modalModifyVerse">
          <bi name="pen-fill"></bi>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-body">
      <div class="card-title">
        Nombre
      </div>
      <p>
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
        by default but revealed when the user activates the relevant trigger.1
      </p>

      <div class="d-inline my-2">
        <a class="text-success mr-2"  data-toggle="modal" data-target="#modalViewVerse">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2" data-toggle="modal" data-target="#modalModifyVerse">
          <bi name="pen-fill"></bi>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-body">
      <div class="card-title">
        Nombre
      </div>
      <p>
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden
        by default but revealed when the user activates the relevant trigger.1
      </p>

      <div class="d-inline my-2">
        <a class="text-success mr-2"  data-toggle="modal" data-target="#modalViewVerse">
          <bi name="eye-fill"></bi>
        </a>

        <a class="text-success d-inline mr-2" data-toggle="modal" data-target="#modalModifyVerse">
          <bi name="pen-fill"></bi>
        </a>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalViewVerse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Versiculo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Texto a modificar
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Modificar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalModifyVerse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Versiculo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="versiculo">Editar Versiculo</label>
            <input type="text" class="form-control" name="versiculo" id="versiculo" value="Versiculo a modificar">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>





